{{block "index" .}}
<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, inital-scale=1" />
  <link href="css/style.css" rel="stylesheet" />
  <script src="https://unpkg.com/htmx.org@1.9.9"
    integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
    crossorigin="anonymous"></script>
</head>

<body>
  {{ template "form" .Form }}
  <hr />
  {{ template "display" .Data }}
</body>

</html>
{{ end }}

{{ block "form" . }}
<form hx-swap="outerHTML" hx-target="#contacts" hx-post="/contacts">

  name: <input {{ if .Values.name }} value="{{ .Values.name }}" {{ end }} type="text" name="name" placeholder="Name">

  email: <input {{ if .Values.email }} value="{{ .Values.email }}" {{ end }} type="email" name="email"
    placeholder="Email">
  {{ if .Errors.email }}
  <div style="color: red;">{{ .Errors.email }}</div>
  {{ end }}

  <button type="submit">Create Your Contact</button>
</form>
{{ end }}

{{ block "display" . }}
<div>
  {{ range .Contacts }}
  <div id="contacts" style="display: flex; flex-direction: column;">
    Name: <span>{{ .Name }}</span>
    Email: <span>{{ .Email }}</span>
  </div>
  {{ end }}
</div>
{{ end }}