{{block "index" .}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, inital-scale=1" />
    <link href="css/style.css" rel="stylesheet" />
    <script
      src="https://unpkg.com/htmx.org@1.9.9"
      integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h1>CHECKOUT MY COUNT</h1>
    <div id="count">{{ template "count" .}}</div>
    <button hx-target="#count" hx-post="/count">Count ME PLEEEAAASSEE</button>
  </body>
</html>
{{ end }} {{ block "count" .}} Count {{ .Count }} {{ end }}
